* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.form {
  margin-top: 24px;
  display: flex;
  gap: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  input {
    border-radius: 12px;
    font-size: 16px;
    padding: 6px;
  }
  button {
    width: 100%;
    background: #1e1e1e;
    color: #fff;
    border: 0;
    border-radius: 12px;
    padding: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }
}

.container {
  width: 90%;
  height: 400px
}

.weather-card {
  padding: 20px;
  border-radius: 12px;
  background: #1e1e1e;
  color: white;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 8px;
  height: 100%;
  width: 100%;

  h2 {
    font-size: 48px;
    align-self: start;
  }
  img {
    width: 400px;
    padding: 1rem;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
}


