* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.form {
  margin-top: 24px;
  display: flex;
  gap: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  input {
    border-radius: 12px;
    font-size: 16px;
    padding: 6px;
  }
  button {
    width: 100%;
    background: #1e1e1e;
    color: #fff;
    border: 0;
    border-radius: 12px;
    padding: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }
}

.container {
  width: 90%;
  height: 400px;
  position: relative;
}

.weather-card {
  padding: 20px;
  border-radius: 12px;
  background: #1e1e1e;
  color: white;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 8px;
  height: 100%;
  width: 100%;

  h2 {
    font-size: 48px;
    align-self: start;
  }
  img {
    width: 400px;
    padding: 1rem;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
}

.label-cel{
  position: absolute;
  top: 44px;
  right: 84px;
}

.label-far{
  position: absolute;
  top: 44px;
  right: 24px;
}

.checkbox-wrapper-2 .ikxBAC {
  appearance: none;
  background-color: #dfe1e4;
  border-radius: 72px;
  border-style: none;
  flex-shrink: 0;
  height: 20px;
  margin: 0;
  width: 30px;

  position: absolute;
  top: 44px;
  right: 44px;
}

.checkbox-wrapper-2 .ikxBAC::before {
  bottom: -6px;
  content: "";
  left: -6px;
  position: absolute;
  right: -6px;
  top: -6px;
}

.checkbox-wrapper-2 .ikxBAC,
.checkbox-wrapper-2 .ikxBAC::after {
  transition: all 100ms ease-out;
}

.checkbox-wrapper-2 .ikxBAC::after {
  background-color: #fff;
  border-radius: 50%;
  content: "";
  height: 14px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 14px;
}

.checkbox-wrapper-2 input[type="checkbox"] {
  cursor: default;
}

.checkbox-wrapper-2 .ikxBAC:hover {
  background-color: #c9cbcd;
  transition-duration: 0s;
}

.checkbox-wrapper-2 .ikxBAC:checked {
  background-color: #6e79d6;
}

.checkbox-wrapper-2 .ikxBAC:checked::after {
  background-color: #fff;
  left: 13px;
}

.checkbox-wrapper-2 :focus:not(.focus-visible) {
  outline: 0;
}

.checkbox-wrapper-2 .ikxBAC:checked:hover {
  background-color: #535db3;
}
